body {
  background-color: black;
}

#menu .sidebar {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#menu .sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
#menu .sidebar ul a {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.682);
}
#menu .sidebar ul a:hover {
  color: white;
}
#menu .sidebar h1 {
  color: white;
  font-weight: bold;
}
#menu .sidebar .comments .my-comment {
  display: flex;
  flex-direction: column;
}
#menu .sidebar .comments .my-comment button {
  border: none;
  background: none;
  margin-top: 10px;
  border-radius: 7px;
  color: white;
  height: 50px;
  transition: all 0.3s;
}
#menu .sidebar .comments .my-comment button:hover {
  background-color: #1a1a1a;
}
#menu .sidebar .comments .my-comment input {
  height: 80px;
  border-radius: 10px;
  padding-bottom: 50px;
  padding-left: 10px;
  background-color: rgba(51, 50, 50, 0.49);
  border: none;
}
#menu .sidebar .comments .my-comment input::-moz-placeholder {
  color: white;
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
}
#menu .sidebar .comments .my-comment input::placeholder {
  color: white;
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
}
#menu .sidebar .comments .other-comments {
  margin-top: 50px;
}
#menu .sidebar .comments .other-comments .comment {
  color: white;
}
#menu .sidebar .comments .other-comments .comment .image-name {
  display: flex;
  align-items: center;
  gap: 20px;
}
#menu .sidebar .comments .other-comments .comment .image-name .image {
  width: 50px;
  height: 50px;
}
#menu .sidebar .comments .other-comments .comment .image-name .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#menu .sidebar .comments .other-comments .comment .description {
  margin-top: 7px;
}
#menu .restaurant-menu .image-like {
  position: relative;
  margin-top: 90px;
}
#menu .restaurant-menu .image-like .image img {
  width: 100%;
  border-radius: 20px;
  display: block;
}
#menu .restaurant-menu .image-like .like-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(26, 26, 26, 0.7568627451);
  border-radius: 16px;
  color: rgba(255, 255, 255, 0.682);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
#menu .restaurant-menu .image-like .like-button:hover {
  background: #1a1a1a;
  color: white;
}
#menu .restaurant-menu .rating-delivery-time {
  margin-top: 20px;
  display: flex;
  color: white;
  gap: 20px;
  justify-content: center;
}
#menu .restaurant-menu .rating-delivery-time .line {
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5568627451);
  width: 1px;
}
#menu .restaurant-menu .special-offers {
  margin-top: 20px;
}
#menu .restaurant-menu .special-offers h2 {
  font-weight: bold;
  color: white;
}
#menu .restaurant-menu .special-offers .title-image {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#menu .restaurant-menu .special-offers .title-image .title h6 {
  color: white;
}
#menu .restaurant-menu .special-offers .title-image .title p {
  color: rgba(255, 255, 255, 0.719);
}
#menu .restaurant-menu .special-offers .title-image .title .discount-price {
  display: flex;
  gap: 10px;
}
#menu .restaurant-menu .special-offers .title-image .title .discount-price .discountedprice {
  color: red;
}
#menu .restaurant-menu .special-offers .title-image .title .discount-price .price {
  text-decoration: line-through;
}
#menu .restaurant-menu .special-offers .title-image .image-button {
  position: relative;
}
#menu .restaurant-menu .special-offers .title-image .image-button .image {
  width: 150px;
}
#menu .restaurant-menu .special-offers .title-image .image-button .image img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
#menu .restaurant-menu .special-offers .title-image .image-button button {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: rgba(26, 26, 26, 0.5843137255);
  color: white;
  border: none;
  transition: all 0.3s ease;
}
#menu .restaurant-menu .special-offers .title-image .image-button button:hover {
  background-color: #1a1a1a;
}
#menu .restaurant-menu .category {
  margin-top: 20px;
}
#menu .restaurant-menu .category h2 {
  font-weight: bold;
  color: white;
}
#menu .restaurant-menu .category .title-image {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#menu .restaurant-menu .category .title-image .title h6 {
  color: white;
}
#menu .restaurant-menu .category .title-image .title p {
  color: rgba(255, 255, 255, 0.719);
}
#menu .restaurant-menu .category .title-image .title .discount-price .price {
  color: #009de0;
}
#menu .restaurant-menu .category .title-image .image-button {
  position: relative;
}
#menu .restaurant-menu .category .title-image .image-button .image {
  width: 150px;
}
#menu .restaurant-menu .category .title-image .image-button .image img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
#menu .restaurant-menu .category .title-image .image-button button {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: rgba(26, 26, 26, 0.5843137255);
  color: white;
  border: none;
  transition: all 0.3s ease;
}
#menu .restaurant-menu .category .title-image .image-button button:hover {
  background-color: #1a1a1a;
}

.line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.433);
}/*# sourceMappingURL=menu.css.map */