@model IEnumerable<BrandVM>


<div>
    <a asp-action="Create" class="btn btn-success mb-3">Add Brand</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model)
            {
                <tr>
                    <td>
                        <img src="~/assets/images/@brand.Image" alt="Brand" width="100" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@brand.Id" class="btn btn-warning">Edit</a>

                        <form asp-action="Delete" asp-route-id="@brand.Id" method="post" class="d-inline">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
